<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gtmap.fundsupervision.mapper.FcjyClfZjjgzhMapper">

    <insert id="insertZjjgzh" parameterType="com.gtmap.fundsupervision.entity.FcjyClfZjjgzhEntity">
        INSERT INTO fcjy_clf_zjjgzh (
            zhid,
            zhbh,
            jgid,
            mmsfbz,
            zhlb,
            sfdg,
            zhsyr,
            zhh,
            yhbh,
            yhmc,
            khyh,
            khhbh,
            yhjhh,
            csje,
            hcjelj,
            hjjelj,
            dqje,
            yhdqye,
            hbzl,
            jzbz,
            jzsj,
            jzrbh,
            zt,
            bz
        ) VALUES (
            #{zhid},
            #{zhbh},
            #{jgid},
            #{mmsfbz},
            #{zhlb},
            #{sfdg},
            #{zhsyr},
            #{zhh},
            #{yhbh},
            #{yhmc},
            #{khyh},
            #{khhbh},
            #{yhjhh},
            #{csje},
            #{hcjelj},
            #{hjjelj},
            #{dqje},
            #{yhdqye},
            #{hbzl},
            #{jzbz},
            #{jzsj},
            #{jzrbh},
            #{zt},
            #{bz}
        )
    </insert>

    <!--将资金保存在买方监管账户中-->
    <update id="updateZjjghtByBuy" parameterType="com.gtmap.fundsupervision.entity.FcjyClfZjjgzhEntity">
        update fcjy_clf_zjjgzh
        set HJJELJ = #{hjjelj},
            DQJE = #{dqje}
        where JGID = #{jgid} and MMSFBZ = #{mmsfbz}
    </update>

    <!--将资金从买方监管账户中取出-->
    <update id="updateZjjghtByBuyOut" parameterType="com.gtmap.fundsupervision.entity.FcjyClfZjjgzhEntity">
        update fcjy_clf_zjjgzh
        set HCJELJ = #{hcjelj},
            DQJE = #{dqje}
        where JGID = #{jgid} and MMSFBZ = #{mmsfbz}
    </update>

    <!--将资金在卖方监管账户中存入-->
    <update id="updateZjjghtBySaleIn" parameterType="com.gtmap.fundsupervision.entity.FcjyClfZjjgzhEntity">
        update fcjy_clf_zjjgzh
        set HCJELJ = #{hcjelj},
            DQJE = #{dqje}
        where JGID = #{jgid} and MMSFBZ = #{mmsfbz}
    </update>
</mapper>