<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gtmap.fundsupervision.mapper.FcjyClfZjjghtZtMapper">

    <!--保存资金监管合同主体-->
    <insert id="insertZjjghtZt" parameterType="com.gtmap.fundsupervision.entity.FcjyClfZjjghtZtEntity">
        INSERT INTO fcjy_clf_zjjght_zt (
            ztid,
            ztbh,
            htid,
            jgid,
            ztlb,
            ztxm,
            xb,
            csrq,
            zjlb,
            zjhm,
            fzjg,
            dz,
            lxdh,
            yb,
            dzyj,
            gjdq,
            hjszs1,
            hjszs2,
            jzszs1,
            jzszs2,
            yh,
            hm,
            zh,
            dlrxm,
            dlrzjlb,
            dlrzjhm,
            dlrdz,
            dlrlxdh,
            bz
        ) VALUES (
            #{ztid},
            #{ztbh},
            #{htid},
            #{jgid},
            #{ztlb},
            #{ztxm},
            #{xb},
            #{csrq},
            #{zjlb},
            #{zjhm},
            #{fzjg},
            #{dz},
            #{lxdh},
            #{yb},
            #{dzyj},
            #{gjdq},
            #{hjszs1},
            #{hjszs2},
            #{jzszs1},
            #{jzszs2},
            #{yh},
            #{hm},
            #{zh},
            #{dlrxm},
            #{dlrzjlb},
            #{dlrzjhm},
            #{dlrdz},
            #{dlrlxdh},
            #{bz}
        )
    </insert>

    <select id="findZjjghtZtByJgid" parameterType="java.lang.String" resultType="com.gtmap.fundsupervision.entity.FcjyClfZjjghtZtEntity">
        SELECT
            ztid,
            ztbh,
            htid,
            jgid,
            ztlb,
            ztxm,
            xb,
            csrq,
            zjlb,
            zjhm,
            fzjg,
            dz,
            lxdh,
            yb,
            dzyj,
            gjdq,
            hjszs1,
            hjszs2,
            jzszs1,
            jzszs2,
            yh,
            hm,
            zh,
            dlrxm,
            dlrzjlb,
            dlrzjhm,
            dlrdz,
            dlrlxdh,
            bz
        FROM
            fcjy_clf_zjjght_zt
        where
            JGID = #{jgid}
    </select>

    <!--更新资金监管合同主体信息-->
    <update id="updateZjjghtZtByJgid" parameterType="java.lang.String">
        UPDATE fcjy_clf_zjjght_zt
        SET
            YH = #{yh},
            ZH = #{zh}
        WHERE
            JGID = #{jgid} AND ZTLB = #{ztlb}
    </update>

</mapper>