<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>权证查询</title>
    <meta http-equiv="Content-Type" content="application/json;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css"  media="all">
</head>
<body>
<script type="text/html" id="toolbarDemo">
    <form id="searchForm">
        <div class="layui-form-item" style="padding-top: 10px">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px">产权证号</label>
                <input type="text" name="searchCqzh" id="searchCqzh" autocomplete="off" style="width: 100px" class="layui-input">
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px">姓&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                <input type="text" name="searchXm" id="searchXm" autocomplete="off" style="width: 100px" class="layui-input">
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px">身份证号</label>
                <input type="text" name="searchSfzh" id="searchSfzh" autocomplete="off" style="width: 200px" class="layui-input">
            </div>
            <div class="layui-inline" style="padding-left: 12px">
                <button type="button" class="layui-btn layui-btn-sm" lay-event="searchData">查询</button>
            </div>
        </div>
    </form>
</script>
<table class="layui-hide" id="test" lay-filter="test"></table>

<script src="../static/index/js/jquery.min.js"></script>
<script src="../static/layui/layui.js" charset="utf-8"></script>

<script>
    layui.use(['table','laydate'], function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/qzcx/getData'
            ,toolbar: '#toolbarDemo' //开启头部工具栏
            ,defaultToolbar: []
            ,title: '权证信息'
            ,totalRow: true
            ,cols: [
                [
                    {field:'', title:'序号', width:100,type:'numbers', fixed: 'left', totalRowText: '合计'}
                    ,{field:'xm', title:'姓名', width:200,sort:true}
                    ,{field:'sfzh', title:'身份证号', width:200}
                    ,{field:'qzhm', title:'权证号码', width:200}
                    ,{field:'zl', title:'坐落', width:200}
                ]
            ]
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);

            //查阅功能
            if (obj.event === 'searchData'){
                $.ajax({
                    url: '../qzcx/searchData',
                    dataType: 'json',
                    type: 'post',
                    data: $("#searchForm").serialize(),
                    success: function (obj) {
                        if (obj.success){
                            location.reload();
                        }else {
                            location.reload();
                        }
                    },
                    error: function () {
                        location.reload();
                    }
                });
            }
        });
    });
</script>

</body>
</html>